<!DOCTYPE html>
<html>
<head>
<title>Online Store</title>
<%= stylesheet_link_tag "application", media: "all","data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">

<div id="banner">
<%= image_tag("online_shopping.jpeg") %>
<%= @page_title || t('.title') %>
<%= form_tag store_path, class: 'locale' do %>
<%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
<%= submit_tag 'submit' %>
<%= javascript_tag "$('.locale input').hide()" %>
<% end %>
</div>
<% if user_signed_in? %>
  
   You are currently signed in as <%= current_user.email %>,not you?
 
 
   <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
 
   <%= link_to "Sign up!", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
  
<% end %>
<div id="columns">

<div id="side"style="background-color:#E9967A; height:1200px;width:170px;float:left;">

<ul>
<li><a href="http://localhost:3000/en"><%= t('.home') %></a></li>
</ul>
<% if session[:user_id] %>
<ul>
<li><%= link_to t('.orders'), orders_path%></li>
<li><%= link_to t('.products'), products_path %></li>
<li><%= link_to t('.users'), users_path%></li>
</ul>
<%= button_to 'Logout', logout_path, method: :delete %>
<% end %>
<% if (user_signed_in? && current_user.role == 'admin') %>


              <li><%=link_to t('.home'), admin_path %></li>
              <li><%= link_to t('.orders'), orders_path%></li>
              <li><%= link_to t('.products'), products_path %></li>
              <li><%= link_to t('.users'), users_path %></li>
              </ul>
              <%else%>
              <li><%= link_to t('.history'), histories_path %></li>
              <li><%= link_to t('.profile'), current_user %></li>
              </ul>

<% end %>
</div>


<div id="main">
<%= yield %>
</div>
</div>
</body>
</html>

